/* font overrides */

  * 
  {
    font-family: 'Cormorant Garamond', serif !important;
  }

/* header style overrides */
  .SearchBar__focusContainer__2uI0-:before, .AddNewListingButton__button__2H8yh
  {
    border-radius: 0 !important;
  }

.marketplace-lander .marketplace-lander-content-title, .marketplace-lander .marketplace-lander-content-description 
{
 color: white;
 text-shadow: 3px 3px 10px black;
}
