/* font overrides */

  * 
  {
    font-family: 'Cormorant Garamond', serif !important;
  }

/* header style overrides */
  .SearchBar__focusContainer__2uI0-:before, .AddNewListingButton__button__2H8yh, .AddNewListingButton__button__2H8yh *
  {
    border-radius: 0 !important;
  }

.marketplace-lander .marketplace-lander-content-title, .marketplace-lander .marketplace-lander-content-description 
{
 color: white;
 text-shadow: 3px 3px 10px black;
}

/* listing overrides */
.toggle, .home-toolbar-button-group-button:first-child, .home-toolbar-button-group-button:last-child 
{
 border-radius: 0 !important;
 border-radius-top: 0 !important;
 border-radius-bottom: 0 !important;
 border-radius-right: 0 !important;
 border-radius-left: 0 !important;
}

.home-categories-link, .home-categories-main, .home-categories-sub {
 text-transform: none;
 text-stroke: 0.1px;
 -webkit-text-stroke: 0.1px;
}
